// @import "base";
// @import "";

.code{
    height: 40px;
    width:100%;
    background-image:url("../../public/images/top.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position:50% 50%;
}

